<div class="form">
    
      <label>Email</label>
      <input type="email" placeholder="Email" autocomplete="off" [(ngModel)]="this.email">
    <br>
      <label>Password</label>
      <input type="password" placeholder="Password" autocomplete="off" [(ngModel)]="this.password">
    <br>
      <label>Confirm Password</label>
      <input type="password" placeholder="Confirm password" autocomplete="off" [(ngModel)]="this.passwordConfirm">
   
      <br>
      
      <button color="primary" (click)="this.signUp()">Signup</button>
</div>
